<html>

<head>
    <title>Index</title>
    <script src="/assets/index.js"></script>
</head>

<body>
    <h1>Mailbook</h1>
    <p>Hello World</p>
    <button onclick="onclick_btn()">Click me</button>
</body>

</html>