<html>

<head>
    <title>Index</title>
    <script src="/assets/scripts/index.js"></script>
</head>

<body>
    <h1>Mailbook</h1>
    <p>Hello World</p>
    <image src="/assets/images/mailbook.jpg" alt="mailbook image" style="width:300px; display:block" />
    <button onclick="onclick_btn()">Click me</button>
</body>

</html>