<html>

<head>
    <title>Index</title>
    <link href="/assets/styles/global.css" rel="stylesheet" type="text/css"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/assets/scripts/index.js"></script>
</head>

<body>
    <div id="header">
        <span>Mailbook</span>
    </div>   
    
    <button onclick="onclick_btn()">Click me</button>

    <table id="mail-list">
    </table>
</body>

</html>